*{
    margin : 0;
    padding: 0;
}

body {
    background: #000;
    color: #fff;
}

.cabecalho {}

.container {
    display: flex;
    flex-direction: row;
    /* width: 1023px */
    margin: 10%;
    
}

/* CONTAINER */

/* CONTEUDO */

.container .conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container .avatar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



 
